<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all">


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Event Search</h1>
            <hr>
            <p>このサイトはイベント情報を検索できます</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-lg-4 col-sm-4">
    </div>

    <div class="col-lg-4 col-sm-4">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="event-search-form">
            <div class="form-group">
                <label for="name">フリーワード</label>
                <input type="text" class="form-control" id="name"
                       required
                       [(ngModel)]="model.name" name="name"
                       #name="ngModel">

                <label for="name">イベント開催年月</label>
                <ng2-datepicker [(ngModel)]="model.date" [ngModelOptions]="{standalone: true}" ></ng2-datepicker>

                <div [hidden]="name.valid || name.pristine"
                     class="alert alert-danger">
                    Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="power">開催場所</label>
                <select class="form-control" id="power"
                        required
                        [(ngModel)]="model.place" name="place"
                        #power="ngModel">
                    <option *ngFor="let place of places" [value]="place">{{place}}</option>
                </select>
                <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
                    Power is required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!heroForm.form.valid">検索</button>
            <button type="button" class="btn btn-default" (click)="newEvent(); heroForm.reset()">リセット</button>
        </form>
    </div>
    <div class="col-lg-4 col-sm-4">
    </div>
</div>
<div *ngIf="!existsFlg">
    <div *ngIf="!existsFlg" class="alert alert-danger box-msg" role="alert">
        <strong>検索結果が0件でした</strong>
    </div>
</div>

<ul class="pagination">
    <li [ngClass]="prevPageDisabled()">
        <a href="#step2" (click)="prevPage()">≪ 前へ</a>
    </li>
    <li *ngFor="let n of range()"
        [ngClass]="{active: n === currentPage}"
        (click)="setPage(n)">
        <a href="#step2">{{n}}</a>
    </li>
    <li [ngClass]="nextPageDisabled()">
        <a href="#step2" (click)="nextPage()">次へ ≫</a>
    </li>
</ul>

<sk-fading-circle [isRunning]="model.spinner" [delay]="false"></sk-fading-circle>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div *ngFor="let event of events; let i = index">
                <div class="col-lg-4 col-sm-6">
                    <a href="{{ event.event.event_url }}" class="portfolio-box" target=”_blank”>
                        <img class="img-responsive" [ngStyle]="{'background-image': 'url(' + event.event.img  + ')'}">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    <h3> {{ event.event.title }}</h3>
                                    <p>参加人数：{{ event.event.accepted }}/{{ event.event.limit }}</p>
                                    <p>開催日時：{{ event.event.started_at }}</p>
                                    <p>開催場所：{{ event.event.address }}{{ event.event.place }}</p>
                                </div>
                                <div class="project-name">
                                    <div [innerHTML]="event.event.catch"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in
                    no time! All of the templates and themes on Start Bootstrap are open source, free to download, and
                    easy to use. No strings attached!</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>



<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>© Takayuki Suzuki, Inc. All rights reserved.</h2>
        </div>
    </div>
</aside>
